/*global attribute*/
body
{
    background-color: #2B303A;
}
/*define two different accent colors with two different css selectors*/
.accent{
    color: #D64933;
}
#accent2{
    color: #92DCE5;
}
/*any text with the tag <h1> will have these attributes*/
h1{
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}
/*any text with the tag <h2> will have these attributes*/
h2{
    font-weight: lighter;
    font-size: 20px;
    color: #F0F7F4;
    padding: 10px;
}
/*stylizes the Bootstrap columns*/
.row > div {
    margin-top:20px;
    background-color: #2B303A;
    color: #F0F7F4;
}
/*stylizes the table on the table page and its elements*/
table, th, td {
    margin-top:20px;
    margin-left:20px;
    border: 1px solid #F0F7F4;
    color: #F0F7F4;
    padding: 20px
}
/*media query changes the background color to white if the viewport is less than 500px*/
@media (max-width: 500px)
{
    body
    {
        background-color: white;
    }
}
/*styles links so when the user hovers over them, they will have these attributes*/
a:hover{
    text-decoration:none;
    color: #F0F7F4;
}
/*makes the links in the Bootsrtap buttons not blue*/
.nav-link{
    color: #2B303A;
}