$color1:yellow;
$color2:pink;
div {
    font-size: 18px;

    p {
        color: $color1;
    }

    ul {
        color: $color2;
    }
}
%type{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.tealType{
    @extend %type;
    background-color: teal;
}

.purpleType{
    @extend %type;
    background-color: rebeccapurple;
}
body{
    background-color: black;
}