/*sets the variables $color1 and $color2*/
$color1:yellow;
$color2:pink;
div {
    font-size: 24px;
    /*paragraph tags inherit the div tag's font size of 24px*/
    p {
        color: $color1;
    }
    /*unordered list tags inherit the div tag's font size of 24px*/
    ul {
        color: $color2;
    }
}
/*introduces the template %type that the classes tealType and purpleType extend*/
%type{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}
/*the class tealType extends %type and its attributes*/
.tealType{
    @extend %type;
    color: teal;
}
/*the class purpleType extends %type and its attributes*/
.purpleType{
    @extend %type;
    color: rebeccapurple;
}
body{
    background-color: black;
}